/* Основные стили для таблицы */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

/* Заголовки таблицы */
th {
    background-color: #000000;
    color: white;
    padding: 10px;
    font-weight: bold;
}

/* Стили для строк с данными */
td {
    padding: 8px;
    border: 1px solid #ddd;
}

/* Цветовые стили для ячеек с разными приоритетами */
.green-cell {
    background-color: #A5D6A7;
    color: #2C6E49;
}

.blue-cell {
    background-color: #81D4FA;
    color: #01579B;
}

.orange-cell {
    background-color: #FFCC80;
    color: #F57C00;
}

/* Стили для строк с приоритетами */
td[colspan="9"] {
    background-color: #E0F7FA;
    font-size: 1.2em;
    font-weight: bold;
    color: #0288D1;
}

/* Плавные переходы для изменения фона ячеек */
td:hover {
    background-color: #f1f1f1;
    /* cursor: pointer; */
}

/* Стили для строк с приоритетами (Высокий, Средний, Низкий) */
b {
    font-size: 1.3em;
}

/* Стили для строк с пустыми ячейками */
td:empty {
    background-color: #f9f9f9;
}

/* Стили для ячеек с тултипами */
.green-cell, .blue-cell, .orange-cell {
    position: relative;
    cursor: pointer;
}

/* Стили тултипа */
.tooltip {
    position: absolute;
    bottom: -50px; /* Смещаем вниз */
    left: 150%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    white-space: normal;
    z-index: 10;
    max-width: 250px;
    font-size: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s;
    min-width: 400px;
}

/* Отображение тултипа при наведении */
.green-cell:hover .tooltip,
.blue-cell:hover .tooltip,
.orange-cell:hover .tooltip {
    display: block;
    opacity: 1;
    visibility: visible;
}


